<header class="header">
  <section class="header_content">
    
    <img src="../../../assets/chrome_20u8YrqsDi.png" class="header_logo">

    <a class="header_create-portfolio" 
    routerLink='/create-portfolio'>New portfolio</a>

    @if(TOKEN !== ''){
      <app-profile-button class="header_profile"></app-profile-button>
    }
    @else{
      <app-registration-authorization-buttons class="header_regisration-authorization"></app-registration-authorization-buttons>
    }
  </section>
</header>
