<section class="user-information">

  <section class="user-information_photo">
    <input class="user-information_upload-button" type="file" [(ngModel)]="img" (change)="ConsolePhoto()">
    <img class="user-information_img" src="photo_2024-07-28_13-45-24.jpg">
  </section>

  <section class="user-information_data">
    <h3 class="user-information_name">Name: </h3>
    <h3 class="user-information_email">Email: </h3>
    <h3 class="user-information_password">Password: </h3>
    <h3 class="user-information_portfolio-number">Portfolio number: </h3>
  </section>

</section>