<section class="user-information">

  <section class="user-information_photo">
    <input class="user-information_upload-button" type="file" [(ngModel)]="img" (change)="ConsolePhoto()">
    <img class="user-information_img" [src]='img'>
  </section>

  <section class="user-information_data">
    <h3 class="user-information_name">Name: {{userName}}</h3>
    <h3 class="user-information_email">Email: {{email}}</h3>
    <h3 class="user-information_portfolio-number">Portfolio quantity: {{portfolioQuantity}}</h3>
  </section>

</section>