.user-information {
  display: flex;
  flex-direction: row;
  
}

.user-information_photo {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 80px;
  margin: auto 25px;

  .user-information_upload-button {
    border: 0px;
    border-radius: 50px;
    height: 80px;
    width: 80px;
    position: absolute;
    opacity: 0;
  }

  .user-information_img {
    border-radius: 100px;
    height: 100%;
  }
}