.filter {
    display: flex;
    flex-direction: column;

    .filter_text {
        text-align: center;
    }

    .filter_input, .filter_rate {
        border: 1px solid black;
        border-radius: 5px;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .filter_rate {
        block-size: 2rem;
    }
}